@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.image-container {
    position: relative;
    display: inline-block;
}

.picture img {
    display: block;



}
@layer utilities {
    /* Градиент для бордера */
    .border-gradient {
        background-image: linear-gradient(90deg, #00ff00, #ff0000, #ffa500, #0000ff);
        -webkit-background-clip: padding-box;
        -webkit-text-fill-color: transparent;
    }

    /* Анимация перелива */
    .animate-border {
        background-size: 300% 300%;
        animation: gradient-move 4s linear infinite;
    }

    @keyframes gradient-move {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.picture::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Высота затемнения */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

}